<div>
  <button *ngIf="!chartToAdd" (click)="initChartAdd()">Add chart</button>
  <app-chart-create
    *ngIf="chartToAdd"
    [chart]="chartToAdd"
    (onChartAdd)="addChart($event)">
  </app-chart-create>
<!--  <ul>-->
<!--    <li *ngFor="let metric of metrics" style="border: 1px solid black">-->
<!--      <app-metric [immutable]="immutable" [metric]="metric" (onMetricRename)="renameMetric($event)"></app-metric>-->
<!--      <button (click)="deleteMetric(metric)">Delete</button>-->
<!--    </li>-->
<!--  </ul>-->
</div>
