<div>
  <button (click)="saveDashboard()">Save</button>
  <div>
    <input type="text" [(ngModel)]="dashboard.name">
  </div>
</div>
<h3>Charts</h3>
<button (click)="addChart()">Add chart</button>
<div>
  <ul *ngFor="let chart of dashboard.charts">
    <li>
      <div style="border: 1px solid black">
        <label>Name: </label>
        <input type="text" [(ngModel)]="chart.name">
        <label>Group by: </label>
        <select [(ngModel)]="chart.groupBy">
          <option *ngFor="let groupByType of chartGroupByTypes" [ngValue]="groupByType.id">{{ groupByType.name }}</option>
        </select>
        <app-tags-selector
          [editMode]="true"
          [tags]="chart.includedTags"
          (onTagAdd)="addTagToChart(chart, $event)"
          (onTagDelete)="deleteTagFromChart(chart, $event)"
        ></app-tags-selector>
      </div>
      <button (click)="deleteChart(chart)">Delete</button>
    </li>
  </ul>
</div>
