<div *ngIf="tag" style="border: 1px solid black">

  <div *ngIf="!editMode">
    <span>Name: {{tag.name}}</span>
    <h4>Metrics</h4>
    <ul>
      <li *ngFor="let metric of tag.metrics">{{ metric.name }}</li>
    </ul>
    <button (click)="edit()">Edit</button>
  </div>

  <div *ngIf="editMode">
    <label>Name: </label>
    <input type="text" [(ngModel)]="tag.name">
    <h4>Metrics</h4>
    <button (click)="addMetric()">Add metric</button>
    <ul>
      <li *ngFor="let metric of tag.metrics">
        <input
          placeholder="Name"
          [(ngModel)]="metric.name"
        />
        <label>Type: </label>
        <select [(ngModel)]="metric.type">
          <option *ngFor="let metricType of metricTypes" [ngValue]="metricType.id">{{ metricType.name }}</option>
        </select>
        <button (click)="deleteMetric(metric)">X</button>
      </li>
    </ul>
    <button (click)="save()">Save</button>
  </div>

</div>
