<div>
  <label>Title:</label>
  <div *ngIf="!renameMode">
    <span>{{activity.title}}</span>
    <button (click)="initRename()">Edit</button>
  </div>
  <div *ngIf="renameMode">
    <input type="text" [(ngModel)]="newTitle"/>
    <button (click)="rename()">Save</button>
  </div>
  <label>Start time:</label>
  <div *ngIf="!changeStartTimeMode">
    <span>{{activity.startTime | date: 'medium'}}</span>
    <button (click)="initChangeStartTime()">Edit</button>
  </div>
  <div *ngIf="changeStartTimeMode">
    <input type="datetime-local" [ngModel]="activity.startTime | date: 'yyyy-MM-ddTHH:mm'"
           (ngModelChange)="newStartTime=conversionService.toDate($event)">
    <button (click)="changeStartTime()">Save</button>
  </div>
  <label>End time:</label>
  <div *ngIf="!changeEndTimeMode">
    <span>{{activity.endTime | date: 'medium'}}</span>
    <button (click)="initChangeEndTime()">Edit</button>
  </div>
  <div *ngIf="changeEndTimeMode">
    <input type="datetime-local" [ngModel]="activity.endTime | date: 'yyyy-MM-ddTHH:mm'"
           (ngModelChange)="newEndTime=conversionService.toDate($event)">
    <button (click)="changeEndTime()">Save</button>
  </div>
  <label>Comment:</label>
  <div *ngIf="!updateCommentMode">
    <span>{{activity.comment}}</span>
    <button (click)="initUpdateComment()">Edit</button>
  </div>
  <div *ngIf="updateCommentMode">
    <input type="text" [(ngModel)]="newComment"/>
    <button (click)="updateComment()">Save</button>
  </div>
  <div>
    <label>Tags:</label>
    <app-tags-selector
      [editMode]="true"
      [tags]="activity.tags"
      (onTagAdd)="addNewTag($event)"
      (onTagDelete)="deleteTag($event)"
    ></app-tags-selector>
  </div>
  <div>
    <label>Metric values:</label>
    <app-metric-value-list
      [metricValues]="activity.metricValues"
      (onMetricValueSet)="setMetricValue($event)"
      (onMetricValueUnset)="unsetMetricValue($event)"
    ></app-metric-value-list>
  </div>


  <!--  DELETE -->
  <div>
    <button *ngIf="!editMode" (click)="edit()">EDIT</button>
    <button *ngIf="editMode" (click)="save()">SAVE</button>
    <h5>Metrics</h5>
    <ul>
      <li *ngFor="let metricValue of activity.metricValues">
        <label>{{ metricValue.name }}</label>
        <input *ngIf="editMode" type="text" [ngModel]="metricValue.value"
               (ngModelChange)="metricValue.value=toNumber($event)">
        <span *ngIf="!editMode">{{ metricValue.value }}</span>
      </li>
    </ul>
  </div>

</div>
