<div *ngIf="activity">
  <div *ngIf="!editMode">
    <span>{{ activity.title }}</span>
    <span>Start: {{activity.startTime | date: 'medium'}} End: {{activity.endTime | date: 'medium'}}</span>
    <span>Comment: {{activity.comment}}</span>
    <button (click)="edit()">Edit</button>
  </div>
  <div *ngIf="editMode">
    <label>Title: </label>
    <input type="text" [(ngModel)]="activity.title">
    <label>Start: </label>
    <input type="datetime-local" [ngModel]="activity.startTime | date: 'yyyy-MM-ddTHH:mm'" (ngModelChange)="activity.startTime=toDate($event)">
    <label>End: </label>
    <input type="datetime-local" [ngModel]="activity.endTime | date: 'yyyy-MM-ddTHH:mm'" (ngModelChange)="activity.endTime=toDate($event)">
    <label>Comment: </label>
    <input type="text" [(ngModel)]="activity.comment">
    <button (click)="save()">Save</button>
  </div>
  <app-tags-selector [editMode]="editMode" [tags]="activity.tags" (onTagAdd)="addNewTag($event)" (onTagDelete)="deleteTag($event)"></app-tags-selector>
</div>
