<div style="border: 1px solid black">
  <div>
    <label>Title: </label>
    <input type="text" [(ngModel)]="activity.title"/>
  </div>
  <div>
    <label>Start time: </label>
    <input type="datetime-local" [ngModel]="activity.startTime | date: 'yyyy-MM-ddTHH:mm'" (ngModelChange)="activity.startTime=conversionService.toDate($event)">
  </div>
  <div>
    <label>End time: </label>
    <input type="datetime-local" [ngModel]="activity.endTime | date: 'yyyy-MM-ddTHH:mm'" (ngModelChange)="activity.endTime=conversionService.toDate($event)">
  </div>
  <div>
    <label>Comment: </label>
    <input type="text" [(ngModel)]="activity.comment">
  </div>
  <div>
    <label>Tags: </label>
    <app-tags-selector [editMode]="true" [tags]="activity.tags" (onTagAdd)="addNewTag($event)" (onTagDelete)="deleteTag($event)"></app-tags-selector>
  </div>
  <button (click)="create()">Create</button>
</div>
