<div>
  <app-activity-create
    *ngIf="activityToSwitch"
    [activity]="activityToSwitch"
    (onActivityCreate)="switchToActivity($event)">
  </app-activity-create>
  <button *ngIf="!tagToAdd" (click)="initTagCreate()">Create tag</button>
  <app-tag-create *ngIf="tagToAdd" [tag]="tagToAdd" (onTagCreated)="addTag($event)"></app-tag-create>
  <ul>
    <li *ngFor="let tag of tags" style="border: 1px solid black">
      <app-tag [tag]="tag"></app-tag>
      <button (click)="initActivitySwitch(tag)">Switch to</button>
      <button (click)="deleteTag(tag)">Delete</button>
    </li>
  </ul>
  <button (click)="fetchNextPage()" *ngIf="!!nextPageId">More...</button>
</div>
