<div>
  <app-activity-create
    *ngIf="activityToSwitch"
    [activity]="activityToSwitch"
    (onActivityCreate)="switchToActivity($event)">
  </app-activity-create>
  <button *ngIf="!tagSetToAdd" (click)="initTagSetCreate()">Add tag set</button>
  <app-tag-set-create
    *ngIf="tagSetToAdd"
    [tagSet]="tagSetToAdd"
    (onTagSetCreated)="addTagSet($event)">
  </app-tag-set-create>
  <ul>
    <li *ngFor="let tagSet of tagSets" style="border: 1px solid black">
      <app-tag-set [tagSet]="tagSet"></app-tag-set>
      <button (click)="initActivitySwitch(tagSet)">Switch to</button>
      <button (click)="deleteTagSet(tagSet)">Delete</button>
    </li>
  </ul>
  <button (click)="fetchNextPage()" *ngIf="!!nextPageId">More...</button>
</div>
