<div>
  <span>Date range: </span>
  <input type="date"
         [ngModel]="activityFilter.dateRangeStart | date: 'yyyy-MM-dd'"
         (ngModelChange)="activityFilter.dateRangeStart=toStartOfDay($event)">
  <span> - </span>
  <input type="date"
         [ngModel]="activityFilter.dateRangeEnd | date: 'yyyy-MM-dd'"
         (ngModelChange)="activityFilter.dateRangeEnd=toEndOfDay($event)">
</div>
<div>
  <app-tags-selector [editMode]="true" [tags]="activityFilter.tags" (onTagAdd)="addNewTag($event)" (onTagDelete)="deleteTag($event)"></app-tags-selector>
</div>
<button (click)="apply()">Apply filters</button>
