<div>
  <div>
    <label>Name: </label>
    <input type="text" [(ngModel)]="tag.name">
  </div>
  <div>
    <h4>Metrics</h4>
    <app-metric-list
      [metrics]="tag.metrics"
      [immutable]="true"
      (onMetricAdd)="addMetric($event)"
      (onMetricDelete)="deleteMetric($event)">
    </app-metric-list>
  </div>
  <div>
    <h4>Shares</h4>
    <app-share-list
      *ngIf="tag.shares"
      [shares]="tag.shares"
      (onShareAdd)="addShare($event)"
      (onShareRemove)="removeShare($event)">
    </app-share-list>
  </div>
  <button (click)="create()">Create</button>
</div>
