<div *ngIf="dashboardData">
  <h3>{{ dashboardData.name }}</h3>

  <h4>Filters</h4>
  <app-activity-filter [activityFilter]="activityFilter" (onFiltersApplied)="reload()"></app-activity-filter>

  <h4>Charts</h4>

  <div *ngFor="let chartData of dashboardData.charts">
    <h4>{{ chartData.name }}</h4>
    <table>
      <tr>
        <th style="border: 1px solid black" *ngFor="let bucket of chartData.buckets"><a style="cursor: pointer" (click)="drillDown(bucket)">{{ bucket.label }}</a></th>
      </tr>
      <tr>
        <td style="border: 1px solid black" *ngFor="let bucket of chartData.buckets"><a style="cursor: pointer" (click)="drillDown(bucket)">{{ bucket.percentage }}</a></td>
      </tr>
      <tr>
        <td style="border: 1px solid black" *ngFor="let bucket of chartData.buckets">
          <table>
            <tr>
              <th style="border: 1px solid black" *ngFor="let subBucket of bucket.buckets"><a style="cursor: pointer" (click)="drillDown(bucket)">{{ subBucket.label }}</a></th>
            </tr>
            <tr>
              <td style="border: 1px solid black" *ngFor="let subBucket of bucket.buckets"><a style="cursor: pointer" (click)="drillDown(bucket)">{{ subBucket.percentage }}</a></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
