<div *ngIf="dashboardData">
  <h3>{{ dashboardData.name }}</h3>

  <h4>Filters</h4>
  <app-activity-filter [activityFilter]="activityFilter" (onFiltersApplied)="reload()"></app-activity-filter>

  <h4>Charts</h4>

  <div *ngFor="let chartData of dashboardData.charts">
    <h4>{{ chartData.name }}</h4>
    <table>
      <tr>
        <th style="border: 1px solid black" *ngFor="let bucketData of chartData.buckets">{{ bucketData.name }}</th>
      </tr>
      <tr>
        <td style="border: 1px solid black" *ngFor="let bucketData of chartData.buckets">{{ bucketData.percentage }}</td>
      </tr>
      <tr>
        <td style="border: 1px solid black" *ngFor="let bucketData of chartData.buckets">
          <table>
            <tr>
              <th style="border: 1px solid black" *ngFor="let subBucket of bucketData.buckets">{{ subBucket.name }}</th>
            </tr>
            <tr>
              <td style="border: 1px solid black" *ngFor="let subBucket of bucketData.buckets">{{ subBucket.percentage }}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
