<div>
  <div>
    <ul>
      <li *ngFor="let tag of tags">{{ tag.name }}<button *ngIf="editMode" (click)="deleteTag(tag)">X</button></li>
    </ul>
    <input *ngIf="editMode"
           placeholder="Search tags..."
           [(ngModel)]="searchTerm"
           (input)="searchTags()"
           (focus)="searchTags()"
           (blur)="cancelSearch()"
           (keyUp.enter)="tryAddTag()"
    />
    <ul *ngIf="showMatchingTags">
      <li *ngFor="let matchingTag of matchingTags"><a style="cursor: pointer" (mousedown)="addTag(matchingTag)">{{ matchingTag.name }}</a></li>
    </ul>
  </div>
</div>
