<div>
  <div>
    <ul>
      <li *ngFor="let tag of tags">{{ tag.name }}<button *ngIf="editMode" (click)="deleteTag(tag)">X</button></li>
    </ul>
    <input *ngIf="editMode" #searchBox type="text" placeholder="Search tags..." (input)="searchTags(searchBox.value)" (focus)="searchTags(searchBox.value)" (blur)="clearSearchResults(); searchBox.value=''">
    <ul>
      <li *ngFor="let matchingTag of matchingTags"><a (mousedown)="addTag(matchingTag)">{{ matchingTag.name }}</a></li>
    </ul>
  </div>
</div>
