<div *ngIf="dashboard">
  <div *ngIf="!editMode">
    <button (click)="editDashboard()">Edit</button>
    <div>
      <h2>{{ dashboard.name }}</h2>
    </div>
  </div>
  <div *ngIf="editMode">
    <button (click)="saveDashboard()">Save</button>
    <div>
      <input type="text" [(ngModel)]="dashboard.name">
    </div>
  </div>
  <h3>Charts</h3>
  <button *ngIf="editMode" (click)="addChart()">Add chart</button>
  <div *ngIf="editMode">
    <ul *ngFor="let chart of dashboard.charts">
      <li>
        <app-chart [editMode]="editMode" [chart]="chart"></app-chart>
        <button (click)="deleteChart(chart)">Delete</button>
      </li>
    </ul>
  </div>
  <div *ngIf="!editMode && dashboardData">
    <div *ngFor="let chartData of dashboardData.charts">
      <h4>{{ chartData.name }}</h4>
      <table>
        <tr>
          <th></th>
          <th *ngFor="let bucketData of chartData.buckets">{{ bucketData.name }}</th>
        </tr>
        <tr>
          <th>Total</th>
          <td *ngFor="let bucketData of chartData.buckets">{{ bucketData.value }}</td>
        </tr>
        <tr>
          <th>Percentage</th>
          <td *ngFor="let bucketData of chartData.buckets">{{ bucketData.percentage }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
